@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

@font-face {
    font-family: 'Ephesis', 'cursive';
}

:root {
    --cor0: #CFB091;
    --cor1: #826F5B;
    --cor2: #825B34;
    --cor3: #4F3720;
    --cor4: #362E26;
    --cor5: #473d33;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Ephesis', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: var(--fonte-padrao); 
    font-size: 1em; 
    line-height: 1.5;
    
}

.topo {
    position: fixed;
    width: 100%;   
}
.topo-menu {
    background-color: var(--cor4);
    text-align: center;    
    color: white;
    
}

.topo-menu ul li {
    display: inline;
}

.topo-menu ul li a {
    padding: 20px 30px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.topo-menu ul li a:hover {
    background-color: var(--cor5);
}

.conteudo {
    margin: auto;
} 
    
.conteudo1 {
    background-image: url("../imagens/bg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    
}

.conteudo1-titulo {
    font-family: var(--fonte-destaque);
    font-size: 6em;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
    text-align: center;    
    line-height: 100vh;
}

.conteudo2 {
    background-color: var(--cor3);
    color: var(--cor0);
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.conteudo2-titulo {
    padding: 20px;
    font-size: 1.7em;
    width: 260px;
    text-align: left;
}

.conteudo2-paragrafo {
    text-align: justify;
    max-width: 500px;
    padding: 30px;
}

.conteudo3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 1200px;
    margin: auto;
    max-width: 100vw;
    height: 100vh;
}

.conteudo3-titulo {
    padding: 20px;
    width: 800px;
    max-width: 88%;
    font-size: 1.7em;  
}

.conteudo3-paragrafo {
    text-align: justify;
    padding: 20px;
    width: 800px;  
    max-width: 88%;   
}

.conteudo3-imagens {
    padding: 20px;
}

.conteudo4 {
    background-color: var(--cor1);
    color: black;
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.conteudo4-left{
    width: 500px;
}

.conteudo4-titulo {
    padding: 20px;
    width: 88%;
    text-align: left;
    font-size: 1.7em;  
}

.conteudo4-paragrafo {
    text-align: justify;
    padding: 0px 20px 20px 20px;
    max-width: 88%;
}

.conteudo4-imagem {
    padding-bottom: 30px;
    height: 390px;
}

.conteudo5 {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;    
    overflow: hidden;    
}

.conteudo6 {
    background-color: var(--cor5);
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    max-width: 100vw;
}

.conteudo6-left {
    width: 250px;
    padding: 20px 20px 20px 20px;
    text-align: left;
}

.conteudo6-titulo {
    padding-bottom: 20px;
    font-size: 1.7em;    
}

.conteudo6-formulario {
    width: 450px;
    padding: 20px;
    
    
}

.conteudo6-formulario-texto {
    margin: 5px 0px;
    font: var(--fonte-padrao);
}

input {
    background-color: white;
    color: var(--cor4);
    width: 330px;
    padding: 6px 0px 6px 16px;
    border: none;
}

textarea {
    background-color: white;
    color: var(--cor4);
    height: 120px;
    width: 330px;
    outline: none;
    padding-left: 16px;
    padding-top: 10px;
    resize: none;
    line-height: 1.3em;
    border: none;
}

.conteudo6-formulario-botao{
    background-color: white;
    font: var(--fonte-padrao);
    border: none;
    margin: 0;
    height: 40px;
    width: 100px;
}

.conteudo6-formulario-botao:hover {
    background-color: var(--cor4);
    color: var(--cor0);
    cursor: pointer;
}

footer {
    background-color: var(--cor4);
 
    padding: 10px;    
    color: white;
    text-align: center;
}